* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  background: linear-gradient(45deg, #012501, #c0f7aa);
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: gillsans-light-italic;
  src: url(fonts/Gill\ Sans\ Light\ Italic.otf);
}
.wrapper {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 980px;
  height: 600px;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(215, 201, 201, 0.6))), url(../images/bamboo-trees-.jpg);
  background-image: linear-gradient(to bottom rgba(215, 201, 201, 0.6), rgba(215, 201, 201, 0.6)), url(../images/bamboo-trees-.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid 15px #ccc7c7;
  border-radius: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .form-title {
  padding-top: 20px;
  margin-left: 12%;
  font-family: gillsans-light-italic;
  font-size: 50px;
  color: #fff;
}
.wrapper .input-wrapper1 {
  position: relative;
  margin-top: 10px;
  margin-left: 10%;
  max-width: 60%;
}
.wrapper .input-wrapper1 .address1 {
  width: 100%;
  padding: 20px;
  outline: none;
  border-radius: 40px;
  border: solid 3px #388e17;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper .input-wrapper2 {
  position: relative;
  margin-top: 10px;
  margin-left: 10%;
  max-width: 50%;
}
.wrapper .input-wrapper2 .address2 {
  width: 100%;
  padding: 20px;
  outline: none;
  border-radius: 40px;
  border: solid 3px #388e17;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper .input-wrapper3 {
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-left: 10%;
  max-width: 40%;
}
.wrapper .input-wrapper3 .address3 {
  width: 100%;
  padding: 20px;
  outline: none;
  border-radius: 40px;
  border: solid 3px #388e17;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper .master-wrapper4 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .master-wrapper4 .input-wrapper4 {
  position: relative;
  margin-top: 10px;
  margin-left: 10%;
  max-width: 30%;
}
.wrapper .master-wrapper4 .input-wrapper4 .zip {
  width: 100%;
  padding: 20px;
  outline: none;
  border-radius: 40px;
  border: solid 3px #388e17;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.wrapper .master-wrapper4 select {
  margin-top: 20px;
  margin-left: 12%;
  max-width: 30%;
  font-size: 20px;
  outline: none;
  background: #fff;
  border: solid 3px #388e17;
  border-radius: 10px;
}
.wrapper button {
  margin-top: 50px;
  margin-left: 10%;
  max-width: 15%;
  padding: 10px;
  font-family: gillsans-light-italic;
  font-size: 20px;
  border-radius: 30px;
  border: solid 2px #fff;
  background: linear-gradient(45deg, #012501, #c0f7aa);
  color: #fff;
}

@media (max-width: 980px) {
  .wrapper {
    margin: 20px;
  }
}
.blank {
  height: 125px;
}

.icon {
  position: absolute;
  font-size: 18px;
  right: 6px;
  top: 20px;
  color: #388e17;
}